<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">

	

	<test name="Interview Task">
		<classes>
			
    <class name="com.test.qa.testcases.UserLogin"></class>

    <class name="com.test.qa.testcases.RegisterNewUserAndLogin"></class>
			

		</classes>
	</test>
</suite>